html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  height: 100%;
  width: 100%;
}

html,
body {
  font-size: 10px;
}

main {
  display: block;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
  font-family: "Chivo", sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.header {
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, red 0%, #e697f0 85%);
}

.header > h1 {
  margin: 0;
  font-size: 24px;
  color: black;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header::before {
  content: '\2190';
  position: absolute;
  font-size: 25px;
  color: white;
  top: -2px;
  left: 25px;
  background-color: transparent;
}

.rules {
  padding: 15px;
  height: 250px;
}

.rules_head {
  margin: 0;
  font-size: 24px;
  color: black;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  margin-bottom: 15px;
}

.rules_body {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 5px;
  height: 200px;
  border: 1px solid black;
  border-radius: 15px;
}

.rules_body__content {
  padding: 15px 3px 3px 15px;
}

.rules_body__content-item {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  padding: 10px 0 10px 0;
}

.rules_body__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 15px;
}

.rules_body__nav-btn {
  cursor: pointer;
  width: 90%;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
}

.rules_body__nav-btn_active {
  font-weight: 800;
}

.active {
  display: block;
  animation: text-focus-in 1s linear both;
}

.hidden {
  display: none;
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.footer {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: black;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}

.play {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.playBtn {
  align-self: center;
  text-decoration: none;
  display: block;
  padding: 15px 30px;
  margin: 20px 10px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px #F137A6 inset, 0 0 0 0 #F137A6;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  transition: .15s ease-in-out;
}

.playBtn:hover {
  box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
  color: black;
}

.addteam {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.addteam_menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@media screen and (min-width: 900px) {
  .addteam_menu {
    width: 70%;
  }
}

.addteam_menu_header {
  margin: 0;
  font-size: 24px;
  color: black;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.addteam_menu_items {
  width: 100%;
  height: 500px;
}

.addteam_menu_items-item {
  border-bottom: solid 1px black;
  height: 62.5px;
  padding: 6px 0 6px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.addteam_menu_items-item > p {
  display: inline-block;
  text-align: center;
  font-size: 25px;
  color: black;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.addteam_menu_items-item-remove {
  display: inline-block;
  margin-left: 50px;
  background-color: red;
  border-radius: 25px;
}

.addteam_menu_items-item-remove:hover {
  background-color: #ff8080;
}

.addteam_menu_btn {
  display: block;
  color: white;
  background-color: black;
  border-radius: 10px;
  font-size: 24px;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.addteam_menu_btn:hover {
  color: black;
  background-color: white;
}

.form_add {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_add-btn {
  align-self: center;
  text-decoration: none;
  display: block;
  padding: 15px 30px;
  margin: 0 0;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px #F137A6 inset, 0 0 0 0 #F137A6;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  transition: .15s ease-in-out;
}

.form_add-btn:hover {
  box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
  color: black;
}

.form_add > input {
  width: 100%;
  border-radius: 10px;
  line-height: 2;
  margin-bottom: 15px;
}

.start_game {
  align-self: center;
  text-decoration: none;
  display: block;
  padding: 15px 30px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px #F137A6 inset, 0 0 0 0 #F137A6;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  transition: .15s ease-in-out;
}

.start_game:hover {
  box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
  color: black;
}

.timer-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.blur {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: transparent;
  backdrop-filter: blur(5px);
}

.timer-modal {
  box-sizing: border-box;
  position: fixed;
  width: 80%;
  z-index: 10;
  height: 60vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #e410ff;
  background: radial-gradient(circle, rgba(228, 16, 255, 0.899597) 23%, #ffa0a0 66%);
  border-radius: 15px;
}

.timer-modal-visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.timer-modal-hidden {
  display: none;
}

.timer-modal-head {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  font-size: 60px;
}

.timer-modal-close {
  align-self: center;
  text-decoration: none;
  display: block;
  padding: 15px 30px;
  margin: 0 0;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px #F137A6 inset, 0 0 0 0 #F137A6;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  transition: .15s ease-in-out;
  position: fixed;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -120%);
}

.timer-modal-close:hover {
  box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
  color: black;
}

.timer {
  background-color: black;
  width: 333px;
  height: 120px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.timer_item {
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 15px;
}

.timer_item-count {
  width: 100%;
  text-align: center;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 70px;
}

.timer_item-unit {
  text-align: center;
  width: 100%;
  height: 20%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.timer_form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 50px;
}

.timer_form > form {
  width: 330px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3px;
}

.timer_form > form > input {
  width: 75px;
  border-radius: 15px;
}

.timer_form > form > button {
  width: 75px;
  align-self: center;
  text-decoration: none;
  display: block;
  padding: 15px 30px;
  margin: 0 0;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px #F137A6 inset, 0 0 0 0 #F137A6;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  transition: .15s ease-in-out;
  text-align: center;
  font-size: 10px;
  padding: 0;
}

.timer_form > form > button:hover {
  box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
  color: black;
}

#hours {
  grid-column-start: 1;
  grid-column-end: 2;
}

#minutes {
  grid-column-start: 2;
  grid-column-end: 3;
}

#seconds {
  grid-column-start: 3;
  grid-column-end: 4;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  background: #e697f0;
  background: linear-gradient(90deg, #e697f0 19%, red 79%);
}

.main {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=index.css.map */